name: Issue Event
on:
    issues:
        types: opened
jobs:
    event-details:
        runs-on: ubuntu-latest
        steps:
            - name: output event details
              run: echo "${{ toJson(github) }}"

