name: unit-test
on:
    - push
    - workflow_dispatch
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Sourcecode
              uses: actions/checkout@v3
            - name: Install NodeJS
              uses: actions/setup-node@v3
              with:
                node-version: 18
            - name: Install dependency
              run: npm ci
            - name: Setup ES Lint
              run: npm init @eslint/config
            - name: Lint Test
              run: npm run lint
    unit-test:
        needs: lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Sourcecode
              uses: actions/checkout@v3
            - name: Install NodeJS
              uses: actions/setup-node@v3
              with:
                node-version: 18
            - name: Install dependency
              run: npm ci
            - name: Unit Test
              run: npm run test
    build:
        needs: unit-test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Sourcecode
              uses: actions/checkout@v3
            - name: Install NodeJS
              uses: actions/setup-node@v3
              with:
                node-version: 18
            - name: Install dependency
              run: npm ci
            - name: Build
              run: npm run build